

<!DOCTYPE html>
<html>

  <head>
    <title>Beginner Bootcamp</title>
    <link href="/Users/jepgambardella/Documents/Codaisseur/intermediate-bootcamp/codaisseurup/app/assets/stylesheets/pages.scss" type="text/scss" rel="stylesheet" />
  </head>

  <body>
    <h1>CoddaisseurUp</h1>
    <h2>Welcome to Codaissuerup. A place to relax</h2>



  </body>
</html>
